    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Authentification</title>
        <link rel="stylesheet" href="{{ asset('auth/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="slide navbar style.css">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

               <style>
            .alert {
                position: relative;
                padding: 1rem 1rem;
                margin-bottom: 1rem;
                border: 1px solid transparent;
                border-radius: 2px;
                text-align: center;
            }
            .alert-danger {
                color: #962f37;
                background-color: #f5a9af;
                border-color: #f1959e
            }
            .btn {
                display: inline-block;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                user-select: none;
                background-color: transparent;
                border: 1px solid transparent;
                padding: .375rem .75rem;
                font-size: 1rem;
                border-radius: 2px;
                margin:auto;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
            }

            @media (prefers-reduced-motion: reduce) {
                .btn {
                    transition: none
                }
            }

            .btn:hover {
                color: #e7e6f1
            }
            .btn-danger {
                color: #fff;
                background-color: #dc3545;
                border-color: #dc3545;

            }
                    .alert-info {
            color: #055160;
            background-color: #cff4fc;
            border-color: #b6effb
}
        </style>
    </head>
    <body>
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">
             {% if app.session.flashbag.has('edit_info_msg') %}
            <div class="alert alert-info">
                {{ app.session.flashbag.get('edit_info_msg')[0] }}
            </div>
            {% endif %}
            <div class="signup">
                {{ form_start(registrationForm) }}
                    <label for="" style="margin:40px">Inscription</label>
                    {{ form_widget(registrationForm.username,{'attr': {'placeholder': 'Matricule', 'required': 'required','value':matricule,'readonly':'readonly'}}) }}
                    {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'email', 'required': 'required'}}) }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'password', 'required': 'required'}}) }}
                    {{ form_widget(registrationForm.confirmPassword, {'attr': {'placeholder': 'confirm', 'required': 'required'}}) }}
                    {# {{ form_row(registrationForm.agreeTerms, {'attr':{'label':'form-label'}})}} #}
                    <button type="submit">Activer</button>

                    {{ form_end(registrationForm) }}
                </form>
            </div>

        </div>
    </body>
    </html>
