{% extends 'admin/base.html.twig' %}

{% block title %}Administration!
{% endblock %}

{% block content %}
	<div class="my-2"></div>
	{% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}
	<div class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#publieOffreModal">
		<span class="text">PUBLIER OFFRE</span>
	</div>
	{# Modal de publication d'un Offre #}
	{%  include('entreprise/_partials/_publie.html.twig') %}
	<h2 class="text-center">GESTION DES OFFRES</h2>
	{#
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">N°</th>
							<th scope="col">Nom Entreprise</th>
							<th scope="col">Type de l'Offre</th>
							<th scope="col">Domaine d'Activité</th>
							<th scope="col">Date d'Ouverture</th>
							<th scope="col">Date de Fermeture
							</th>
							<th scope="col">actions</th>
						</tr>
					</thead>
					<tbody>
			
						{% for offre in offre_entreprises %}
							<tr>
								<td>{{loop.index}}</td>
								<td>{{offre.nomEntreprise}}</td>
								<td>
									{% for offres in offre.fkTypeOffre %}
										{{ offres.nom }}<br>
									{% endfor %}
								</td>
								<td>{{offre.domaine}}</td>
								<td>{{offre.dateCreation|date('d F Y') }}</td>
								<td>{{offre.dateLimite|date('d F Y') }}</td>
								<td>
									<a href="{{path('app_showEntreprise', {'id': offre.id})}}">
										<span class="text-success font-weight-bold">
											Voir</span>
									</a>
									<a href="#">
										<span class="text-danger font-weight-bold">Delete</span>
									</a>
								</td>
							</tr>
						{% endfor %}
						
			
			
					</tbody>
				</table>#}
	
	{% if offre_entreprises %}
	<h3 class="text-center">OFFRE ENTREPRISE</h3>
		<div class="row">
		{%  include('entreprise/_partials/_offreEntreprise.html.twig') %}
	</div>
	{% endif %}
	{% if offre_publies %}
	<h3 class="text-center">OFFRE PUBLIER</h3>
		<div class="row">
		{%  include('entreprise/_partials/_offre.html.twig') %}
	</div>
	{% endif %}

	

{% endblock %}
