<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Rapport PDF</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 15px;
            line-height: 1.2;
        }
        h2 {
            text-align: center;
            font-size: 20px;
            margin-bottom: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 6px;
            text-align: center;
            font-size: 12px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
{% if offre_min == 'stage' %}
    <h2 class="text-center">Liste des postulants {% if departement %} du département {{ departement}} {% endif  %} retenus pour le {{ offre_min }} {% if selectedEntreprise %} de l'entreprise {{ selectedEntreprise }} {% endif %}</h2>
{% elseif offre_min == 'formation' %}
    <h2 class="text-center">Liste des postulants {% if departement %} du département {{ departement}} {% endif  %} retenus pour la {{ offre_min }} {% if selectedEntreprise %} de l'entreprise {{ selectedEntreprise }} {% endif %}</h2>
{% elseif offre_min == 'emploi' %}
    <h2 class="text-center">Liste des postulants {% if departement %}  du département {{ departement}} {% endif  %} retenus pour l'{{ offre_min }} {% if selectedEntreprise %} de l'entreprise {{ selectedEntreprise }} {% endif %}</h2>
{% else %}
    <h2 class="text-center">Liste des postulants {% if departement %}  du département {{ departement}} {% endif  %} retenus {% if selectedEntreprise %} pour l'offre de l'entreprise {{ selectedEntreprise }} {% endif %}</h2>
{% endif %}
<table>
    <thead>
    <tr>
        <th scope="col">N°</th>
        <th scope="col">Matricule</th>
        <th scope="col">Nom et Prénom</th>
        <th scope="col">Email</th>
        <th scope="col">Adress</th>
        <th scope="col">Type de l'Offre</th>
        <th scope="col">Nom de l'Entreprise</th>
    </tr>
    </thead>
    <tbody>
    {% for postulant in retenus %}
        <tr style="text-align: center;">
            <td>{{ postulant.id }}</td>
            <td>{{ postulant.etudiant.user.username }}</td>
            <td>{{ postulant.etudiant.nom }}
                {{ postulant.etudiant.prenom }}</td>
            <td>{{ postulant.etudiant.user.email }}</td>
            <td>{{ postulant.etudiant.adresse }}</td>
            <td>{{ postulant.offre.nomOffre }}</td>
            <td>{{ postulant.offre.nomEntreprise }}</td>
            <td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>