{% extends 'admin/base.html.twig' %}

{% block title %}Administration !{% endblock %}

{% block content %}
    <h1>Faculte</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for faculte in facultes %}
            <tr>
                <td>{{ faculte.id }}</td>
                <td>{{ faculte.nom }}</td>
                <td>
                    <a href="{{ path('app_faculte_show', {'id': faculte.id}) }}">show</a>
                    <a href="{{ path('app_faculte_edit', {'id': faculte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Acune Faculté n'est Ajouter</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_faculte_new') }}">Ajouter</a>
{% endblock %}
