{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>Offre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomEntreprise</th>
                <th>NomOffre</th>
                <th>Description</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>DateDebut</th>
                <th>DateLimite</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.nomEntreprise }}</td>
                <td>{{ offre.nomOffre }}</td>
                <td>{{ offre.Description }}</td>
                <td>{{ offre.email }}</td>
                <td>{{ offre.telephone }}</td>
                <td>{{ offre.dateDebut ? offre.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ offre.dateLimite ? offre.dateLimite|date('Y-m-d') : '' }}</td>
                <td>{{ offre.image }}</td>
                <td>
                    <a href="{{ path('app_offre_show', {'id': offre.id}) }}">show</a>
                    <a href="{{ path('app_offre_edit', {'id': offre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offre_new') }}">Create new</a>
{% endblock %}
