{% extends 'base.html.twig' %}

{% block title %}Information sur l'offre{% endblock %}

{% block body %}
    <h1 class="mb-4 font-weight-bold">Information sur l'offre</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <th style="width: 200px;" class="text-dark font-weight-bold">Id</th>
                <td class="text-dark">{{ offre.id }}</td>
            </tr>
            <tr>
                <th class="text-dark font-weight-bold">Nom de l'entreprise</th>
                <td class="text-dark">{{ offre.nomEntreprise }}</td>
            </tr>
            <tr>
                <th class="text-dark font-weight-bold">Nom de l'offre</th>
                <td class="text-dark">{{ offre.nomOffre }}</td>
            </tr>
            <tr>
                <th class="text-dark font-weight-bold">Description</th>
                <td class="text-dark">{{ offre.Description }}</td>
            </tr>
            <tr>
                <th class="text-dark font-weight-bold">Email</th>
                <td class="text-dark">{{ offre.email }}</td>
            </tr>
            <tr>
                <th class="text-dark font-weight-bold">Téléphone</th>
                <td class="text-dark">{{ offre.telephone }}</td>
            </tr>
            <tr>
                <th class="text-dark font-weight-bold">Date de début</th>
                <td class="text-dark">{{ offre.dateDebut ? offre.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th class="text-dark font-weight-bold">Date limite</th>
                <td class="text-dark">{{ offre.dateLimite ? offre.dateLimite|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th class="text-dark font-weight-bold">Image</th>
                <td class="text-dark">
                    {% if offre.image %}
                        <img src="{{ asset('uploads/' ~ offre.image) }}" alt="Image" class="img-thumbnail" style="max-width: 200px;">
                    {% else %}
                        <span>Aucune image</span>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-4">
        <a href="{{ path('app_offre_index') }}" class="btn btn-primary mr-2">Retour</a>
        <a href="{{ path('app_offre_edit', {'id': offre.id}) }}" class="btn btn-secondary mr-2">Modifier</a>
        <a href="{{ path('app_offre_delete', {'id': offre.id}) }}" class="btn btn-danger delete-link" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>

    </div>
{% endblock %}